aioredis==1.3.1
asgiref==3.8.1
async-timeout==5.0.1
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
cffi==1.17.1
channels==3.0.4
channels-redis==3.3.1
constantly==23.10.4
cryptography==45.0.3
daphne==3.0.2
dj-database-url==2.3.0
Django==5.2.1
django-environ==0.12.0
django-filter==25.1
django-jalali==7.4.0
django-jalali-date==2.0.0
djangorestframework==3.16.0
hiredis==3.2.1
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
jalali_core==1.0.0
jdatetime==5.2.0
Khayyam==3.0.17
Markdown==3.8
msgpack==1.1.0
mysqlclient==2.2.7
pillow==11.2.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pyOpenSSL==25.1.0
service-identity==24.2.0
sqlparse==0.5.3
Twisted==24.11.0
txaio==23.1.1
typing_extensions==4.13.2
tzdata==2025.2
zope.interface==7.2
