asgiref==3.8.1
Django==5.2.1
django-filter==25.1
django-jalali==7.4.0
django-jalali-date==2.0.0
djangorestframework==3.16.0
jalali_core==1.0.0
jdatetime==5.2.0
Khayyam==3.0.17
Markdown==3.8
mysqlclient==2.2.7
pillow==11.2.1
sqlparse==0.5.3
tzdata==2025.2
