{% extends "base.html" %}
{% load static %}
{% block content %}

    <div id="status" style="float:right;margin-right:19%;">
    <h1>وضعیت درخواست‌</h1>
        <div class="request-box">
            {% comment %} {{show_status.7}} {% endcomment %}
            {% if detail.status == 'pending_1' %}
            <img src='{{show_status.8.image.url}}'style='width:90%;' />
            {% if user_role == 'supervisor' %}
            <form method="post">
                {% csrf_token %}
                <div class="request-actions">
                    <button type="submit" name="action" value="approve">تایید</button>
                    <button type="submit" name="action" value="reject">رد</button>
                </div>
            </form>
            {% endif %}
            
            {% elif detail.status == 'rejected_1' %}
            <img src='{{show_status.6.image.url}}'style='width:90%;' />

            {% elif detail.status == 'pending_2' %}
            <img src='{{show_status.7.image.url}}'style='width:90%;' />
            {% if user_role == 'department_manager' %}
            <form method="post">
                {% csrf_token %}
                <div class="request-actions">
                    <button type="submit" name="action" value="approve">تایید</button>
                    <button type="submit" name="action" value="reject">رد</button>
                </div>
            {% endif %}
   
            {% elif detail.status == 'rejected_2' %}
            <img src='{{show_status.5.image.url}}'style='width:90%;' />
            
            {% elif detail.status == 'pending_3' %}
            <img src='{{show_status.4.image.url}}'style='width:90%;' />
            
            {% if user_role == 'human_resources' %}
            <form method="post">
                {% csrf_token %}
                <div class="request-actions">
                    <button type="submit" name="action" value="approve">تایید</button>
                    <button type="submit" name="action" value="reject">رد</button>
                </div>
            {% endif %}
                                
            {% elif detail.status == 'rejected_3' %}
            <img src='{{show_status.3.image.url}}'style='width:90%;' />
            
            {% elif detail.status == 'pending_4' %}
            <img src='{{show_status.2.image.url}}'style='width:90%;' />
            {% if user_role == 'manager' %}
            <form method="post">
                {% csrf_token %}
                <div class="request-actions">
                    <button type="submit" name="action" value="approve">تایید</button>
                    <button type="submit" name="action" value="reject">رد</button>
                </div>
            {% endif %}

            {% elif detail.status == 'rejected_4' %}
            <img src='{{show_status.1.image.url}}'style='width:90%;' />
            
            {% elif detail.status == 'approved_4' %}
            <img src='{{show_status.0.image.url}}'style='width:90%;' />
            
            {% endif %}
            
            {% comment %} {% elif detail.status == 'approved_4' %}
            <img src='{{show_status.0.image.url}}'style='width:90%;' />
            <form method="post">
                {% csrf_token %}
                <div class="request-actions">
                    <button type="submit" name="action" value="approve">تایید</button>
                    <button type="submit" name="action" value="reject">رد</button>
                </div> {% endcomment %}
            
                

{% endblock content %}